@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  width: 100%;
  z-index: 200;
}

.menu {
  background: #1c7a2b;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoTopo {
  width: 85px;
}
.menuSelecionado {
  background: #39fa5a;
  border-radius: 30px;
  padding: 15px;
}

.menuItens {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menus {
  list-style: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0 20px;
}

.menus > a {
  color: #fff;
  text-decoration: none;
}

.menuSelecionado {
  list-style: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.menuSelecionado:hover {
  background: #166123;
  color: #fff;
}
.menus:hover {
  opacity: 0.7;
}

.bannerPrincipal {
  width: 100%;
}

.tituloProjeto {
  color: #166123;
  text-align: center;
  padding: 50px 0;
  font-size: 40px;
}

.conhecaNossoProjeto {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerConhecaNossoProjeto {
  width: 40%;
  padding: 0 30px;
}

.textoConhecaNossoProjeto {
  width: 75%;
  font-size: 24px;
  color: #417a4a;
  text-align: justify;
}
.tituloImpactos {
  color: #166123;
  text-align: center;
  padding: 50px 0;
  font-size: 40px;
}
.topicosImpactos,
.topicosBeneficios {
  padding: 20px 0px;
}
.tituloNovidades {
  color: #166123;
  text-align: center;
  padding-right: 50px 0px;
  font-size: 40px;
}
.impactosCausados {
  padding: 100px 0px;
  display: flex;
  justify-content: center;
}

.novidades {
  padding: 100px 0px;
  display: flex;
  justify-content: center;
}
.faleConosco {
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 0px 130px;
  margin-bottom: 10px;
}

.textoNovidadeds {
  width: 50%;
  padding-right: 50px;
  font-size: 24px;
  color: #417a4a;
}
.textoImpactos {
  width: 50%;
  padding-right: 50px;
  font-size: 24px;
  color: #417a4a;
  text-align: justify;
}
.imagensImpactos {
  width: 30%;
}

.imagensNovidades {
  width: 30%;
}

.bannerImpactos:first-child {
  padding-top: 0;
}
.bannerImpactos {
  padding: 20px 0;
  width: 100%;
}

.bannerNovidades {
  padding: 20px 0;
  width: 100%;
}

.tituloBeneficios {
  color: #166123;
  text-align: center;
  padding: 50px 0;
  font-size: 40px;
}

.beneficiosDaEducacao {
  padding: 100px 80px;
  display: flex;
  justify-content: center;
}

.textoBeneficios {
  color: #166123;
  font-size: 24px;
  text-align: justify;
}

.textoEducacaoAmbiental {
  color: #166123;
  font-size: 24px;
  text-align: justify;
  padding: 80px;
}

.imagemBeneficios {
  display: flex;
  justify-content: center;
}
.bannerBeneficios {
  width: 90%;
}

.tituloObjetivos {
  color: #166123;
  text-align: center;
  padding: 50px 0;
  font-size: 40px;
}

.objetivoDaEducacao {
  display: flex;
  justify-content: center;
}

.listaObjetivos {
  color: #166123;
  font-size: 26px;
  padding: 20px 0px;
}

.tituloEmpresas {
  color: #166123;
  text-align: center;
  padding: 50px 0;
  font-size: 40px;
}

.empresasParceiras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
}

.logo-empresasParceira{
    width: 130px;
    border: 10px;
    cursor: pointer;
}

.seta {
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.tituloApoiador {
  color: #166123;
  text-align: center;
  padding: 50px 0;
  font-size: 40px;
}
.faleConosco {
  color: #166123;
  text-align: center;
  padding: 50px;
  font-size: 40px;
}

.cadastrarApoiador {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 130px;
  margin-bottom: 100px;
}
.formularioApoiador{
  width: 100%;
}
.escreverEmail {
  width: 80%;
  padding: 21px;
  border: none;
  background: #d9d9d9;
}
.escrever {
  width: 50%;
  padding: 20px;
  border: none;
  background: #d9d9d9;
}

.mensage {
  width: 80%;
  padding: 60px;
  border: none;
  background: #d9d9d9;
}

.inscreverSe {
  width: 30%;
  padding: 20px;
  background: #39fa5a;
  color: #fff;
  border: 1px solid #39fa5a;
  cursor: pointer;
  text-transform: uppercase;
}

.linkEmpresa {
  width: 10%;
}
.imgEmpresaParceira {
  width: 100%;
}

.rodape {
  background: #1c7a2b;
  padding: 40px 0px;
}
.infos {
  display: flex;
  justify-content: center;
}
.infosExtras {
  color: #fff;
  font-size: 24px;
  font-weight: lighter;
  cursor: pointer;
}

.copy {
  color: #fff;
  display: flex;
  padding-top: 50px;
  font-weight: lighter;
  justify-content: center;
  display: flex;
  align-items: center;
}
.textoCopy {
  padding-right: 50px;
}

.fale {
  padding-right: 50px;
}

img.iconesRedeSocial {
  cursor: pointer;
}
.redesSociais {
  display: flex;
  align-items: center;
}

.iconeYoutube {
  cursor: pointer;
  width: 25px;
  padding: 0 5px;
}
.iconesRedeSocial {
  width: 20px;
  padding: 0 5px;
}

.tituloForm {
  display: flex;
  justify-content: center;
  color: #166123;
  padding: 50px 20px 20px;
  font-size: 40px;
}
.formCadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 2rem;
  border: 10%;
  min-width: 30%;
}

.dados {
  width: 450px;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  background: #d9d9d9;
  box-shadow: -3px 5px 3px rgb(130, 129, 129);
  transition: 0.3s;
}

.dados:focus {
  border-color: #417a4a;
}

.formDados {
  padding: 15px;
  color: #417a4a;
}

.formBotao {
  padding: 20px 80px;
  background: #39fa5a;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.formBotao:hover {
  background: #166123;
}

.imagemParceria {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 20px;
}

.div-imagemTopo {
  display: flex;
  justify-content: center;
}

.imagemTopo {
  border: thin solid;
  padding: 10px;
  border-radius: 100px;
  width: 100%;
  height: 460px;
  margin-top: 8%;
}

.div_formBotao{
    display: flex;
    justify-content: center;
}

.botaoFormulario {
  display: flex;
  justify-content: center;
}

.span-required {
  font-size: 18px;
  margin: 3px 0 0 1px;
  display: none;
  padding: 5px;
  color: rgba(184, 16, 16, 0.851);
}


/* Tela materiais */


.menu_selecionado{
  background: #39FA5A;
  border-radius: 30px;
  padding: 15px;
}

.menu_selecionado{
  list-style: none;
  color: #fff;
  cursor: pointer;
  transition: all .3s;
}
.menu_selecionado:hover{
  background: #166123;
  color: #fff;
}



.materiais_main {
  height:300%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 250px;
}



.materiais_main_subtitle {
  font-size: 20px;
  color: #166123;
  text-align: center;
  font-style: italic;
}

.banner_imagem {
  padding: 20px 0;
  width: 100%;
}


.materiais_description_section_I {
  display: flex;
  gap: 100px;
  margin-top: 50px;

}

.materiais_description_services_one, .materiais_description_services_two {
  
  border-radius: 50px;
  width: 300px;
  height: 480px;
  padding: 30px;
  justify-content: end;
  background-color: #39FA5A;
  
}

.materiais_description_services_title {
  margin-bottom: 16px;
  color: #166123;
  text-align: center;
}
.materiais_texto {
  color: #166123;
  text-align: justify;
}


.materiais_description_section_II {
  display: flex;
  gap: 100px;
  margin-top: 50px;

}

.materiais_description_services_three, .materiais_description_services_four {
  
  border-radius: 50px;
  width: 300px;
  height: 480px;
  padding: 30px;
  justify-content: end;
  background-color: #39FA5A;
  
}

.materiais_description_section_III {
  display: flex;
  gap: 100px;
  margin-top: 50px;

}

.materiais_description_services_five, .materiais_description_services_six {
  border-radius: 50px;
  width: 300px;
  height: 480px;
  padding: 30px;
  justify-content: end;
  background-color: #39FA5A;
 
}

